@model IEnumerable<IlyaSnigirPhotographer.Models.Album>


<h1>Альбомы</h1>

<p>
    <input type="button" class="btn" value="Добавить новый альбом" onclick="location.href='@Url.Action("CreateAlbum", "Admin", new {id = ViewBag.AlbumId})'" />
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           <a href="/Admin/ManagePhotos/@item.AlbumID">@item.Title</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            <input type="button" class="btn" value="Редактировать" onclick="location.href='@Url.Action("EditAlbum", "Admin", new {id = item.AlbumID})'" />
            <input type="button" class="btn delete-btn" value="Удалить"/>
        </td>
    </tr>
}

</table>
