@model IEnumerable<IlyaSnigirPhotographer.Models.Photo>

@{
    ViewBag.Title = "ManagePhotos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.AlbumTitle</h2>

<p>
    <input type="button" class="btn" value="Добавить фотографию" onclick="location.href='@Url.Action("AddPhoto", "Admin", new {id = ViewBag.AlbumId})'" />
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.PhotoFile != null)
                {
                    <div class="photo-display">
                        <img width="150" src="@Url.Action("GetImage", "Home", new { id = item.PhotoID })" />
                    </div>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <input type="button" class="btn" value="Редактировать" onclick="location.href='@Url.Action("EditPhoto", "Admin", new {id = item.PhotoID})'" />
                <input type="button" class="btn delete-btn" value="Удалить"/>

                <div class="b-popup" id="popup1">
                    <div class="popup-wrapper">
                        <div class="b-popup-content">
                            Вы действительно хотите удалить фотографию?
                            <div>
                                <input type="button" class="btn btn-default yes-btn" value="Удалить" onclick="location.href='@Url.Action("DeletePhoto", "Admin", new {id = item.PhotoID})'" />
                                <button class="btn btn-default no-btn">Нет</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }

</table>

<script>
   
        $(document).ready(function(){
            $(".no-btn").click(PopUpHide);
            $(".delete-btn").click(PopUpShow);
        });

        function PopUpShow(){
            $("#popup1").fadeIn();
        }

        function PopUpHide() {
            $("#popup1").fadeOut();
        }
</script>